---
layout: default
home: true
comments:
parallax: true

---
    {% include partials/navigation/nav.html %}
    <span itemscope itemtype="http://schema.org/LocalBusiness">
	{% include partials/head.html %}
    <main id="page-main" role="main" class="darkmode anm-fadeIn delay-100">
		<section id="covers">
			<div id="web-oferta" style="background-image: url('{{ site.baseurl }}/img/barro.jpg');">
				<div>
					<hr>
					<div id="fronters">
						<section>
							<h2 class="fat"><em>Cerámica<br>Artística</em></h2>
							<h3>{{ site.ce-desde }}<br>
							<i><a href="https://isardmiralles.com/tarifes/">Tarifes</a> &gt; <a href="{{ site.baseurl }}portfoli/#webs">Portfoli</a> &gt;</i></h3>
   							<hr>
   							<h5 data-aos="fade-up" data-aos-duration="1500">{{ site.ce-destacado1 }}</h5>
   							<h5 data-aos="fade-up" data-aos-duration="1500">{{ site.ce-destacado2 }}</h5>
   							<h5 data-aos="fade-up" data-aos-duration="1500">{{ site.ce-destacado3 }}</h5>
						</section>
					</div>
				<hr>
	   		</div>
			</div>
			<div id="web-branding" class="parallax" style="background-image: url('{{ site.baseurl }}/img/imac.jpg');">
				<div>
				<div id="blured">
					<div id="fronters-brand">
						<h2 class="fat"><em>Che, Camina!</em></h2>
						<h3 data-aos="fade-right" data-aos-duration="1500">Proyecto: Multiversos de Abya Yala<br>
						<i><a href="{{ site.baseurl }}serveis/#section-brand">Serveis</a> &gt; <a href="{{ site.baseurl }}portfoli/#brand">Portfoli</a> &gt;</i></h3>
						<hr>
						<div class="masked" style="background-image: url('{{ site.baseurl }}/img/chemask.jpg');">
						<hr>
 						</div>
  					</div>
  					<hr>
					<div id="brander" class="thumb-6 pushed-3">
					<h5>{{ site.vi-descript }}</h5>
						<p>{{ site.vi-text }}</p>
						<hr>
					</div>
				</div>
				</div>
			</div>
			<div id="web-grafics">
				<hr>
				<div>
					<br>
					<div class="thumb-6 pushed-3">
						<h2 class="fat"><em>K.R.A</em></h2>
						<h3>(Col·lectiu de Recerques Artístiques)</h3>
						<hr>
						<div class="cell-6">
						<img src="{{ site.baseurl }}/hipertextos/images/html.png" alt="Web logo">
						<h4>K.R.A Web Oficial</h4>
						<p><b>{{ site.kra-oficial }}</p>
						</div>
						<div class="cell-6">
						<img src="{{ site.baseurl }}/hipertextos/images/branding.png" alt="Branding logo">
						<h4>El K.R.A y yo</h4>
						<p><b>{{ site.kra-yyo }}</p>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</section>
    </main></span>
