<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="https://sjmiralles.com/"/>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/styles/style.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
	{% if page.comments %}<link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/styles/adding-blog.css" />{% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/styles/aos.css" />
    {% if page.comments %}<link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/css/lightbox.min.css" />{% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% seo %}
	  
	{% if page.parallax %}<script src="{{ site.baseurl }}/hipertextos/js/jquery-latest.js"></script>
  	<script>
  	if ($(window).width() > 768) {
  		$(document).ready(function(){

			$(window).scroll(function(){
				var barra = $(window).scrollTop();
				var posicion = barra * 0.35;

			$('.parallax').css({
				'background-position': '0 -' + posicion + 'px'
				});
			});

		});
	} else {
		  		$(document).ready(function(){

			$(window).scroll(function(){
				var barra = $(window).scrollTop();
				var posicion = barra * 0.12;

			$('.parallax').css({
				'background-position': '0 -' + posicion + 'px'
				});
			});

		});
	 }
  	</script>
  	{% endif %}
    {% include favicons.html %}
	<style type="text/css"> #site-nav {font-family: " "} body {overflow: hidden;}
	</style>
	
  	{% if page.parallax %}
	<img class="preload" src="/img/home.jpg" width="2010" height="1280" alt="imatge futurista a tot color">
	<img class="preload" src="/img/imac.jpg" width="1920" height="2100" alt="edició web professional">
	<img class="preload" src="/img/imacblur.jpg" width="1920" height="2100" alt="edició web desenfocat">
	<img class="preload" src="/img/music.jpg" width="1920" height="2880" alt="imatge amb saxo i bateria">
  	{% endif %}

  </head>

  <body>
	<div id="preloader">
		<div id="loader">&nbsp;</div>
	</div>

	<div id="fases">
		<!-- Theme inputs (invisibles) -->		
		<input type="radio" id="theme-light" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-soft" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-dark" name="theme" aria-hidden="true" hidden>
	</div>

		
	<!-- Page content -->
	<div class="page" id="page">
      {{ content }}
    {% include partials/footer.html %}
	</div>

		<!-- Out of page
		================================================== -->	
    {% include partials/dialog.html %}  


    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/aos.js"></script>
	<script>
		AOS.init({
			easing: 'ease-out-back',
			duration: 1000
		});
	</script>
  	{% if page.comments %}<script src="{{ site.baseurl }}/hipertextos/js/lightbox.min.js"></script>
	<script>
  		$(document).ready(function() {
    		$("[href]").each(function() {
    		    if (this.href == window.location.href) {
    	        	$(this).addClass("active");
    	    	}
    		});
		});
  	</script>{% endif %}

    {% include analytics.html %}
      
  </body>
</html>
